/* Reset minimalista */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables globales */
:root {
    --color-primary: #007bff;
    --color-bg-header: #fdfdfd; 

    --color-bg: #f1f5faff;
    --color-text: #151d1fff;
    --font-main: "Inter", sans-serif;
}

body {
    font-family: var(--font-main);
    background: var(--color-bg);
    color: var(--color-text);
}
